.contenedor_Contacto {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .contenedor_Formulario {
        padding-bottom: 1rem;
        fieldset {
            .textfield_Datos {
            width: 100%;
            padding-bottom: 1rem;
            }
        }
    }
    .contenedor_Informacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border-radius: 10px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {

    main {
        .contenedor_Contacto {
            flex-direction: row;
            align-items: center;

            .contenedor_Formulario {
                flex: 70%;
            }
            .contenedor_Informacion {
                flex: 30%;
                height: 300px;
            }
        }
    }
}
