* {
    h1 h2 h3 p li {
        font-style: $fuente-principal;
        }
        
    h2 {
        font-size: 35px;
        text-align: center;
        margin: 1.5rem;
        }
    h3 {
        font-size: x-large;
    }
    p {
        font-size: large;
    }
    li {
        font-size: large;
    }
}