* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

        a {
            text-decoration: none;
            color: black;
        }

        ul, li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        @media screen and (min-width: 1200px) {
            main {
                margin-top: 50px;
                margin-left: 200px;
                margin-right: 200px;
                margin-bottom: 50px;
            }
        }
    
}

